<md-content flex="100" layout="row" layout-wrap>

    <div class="subheader-filter subheader-library" flex="100" layout="row">
        <h2 style="color: {{vm.library.color}}">{{vm.library.name}} ({{vm.library.abbr}})</h2>
        <md-input-container class="btn-back">
            <md-button class="md-primary" ng-click="vm.openLibraries()">Back To List</md-button>
        </md-input-container>
    </div>

    <div flex="100" flex-xs="100">
        <md-card>
            <md-card-content>
                <b>Website: </b><a href="{{vm.library.url}}" target="_blank">{{vm.library.url}}</a>
            </md-card-content>
        </md-card>
    </div>

    <div flex="100" flex-xs="100">
        <md-card>

            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Departments</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div ng-repeat="department in vm.library.departments" class="departments">
                    <h4>{{department.name}}</h4>

                    <div ng-repeat="day in department.weeks">
                        <div layout="row">
                            <p flex="50">Day</p>

                            <p flex="50">Hours</p>

                        </div>
                        <div ng-repeat="(key,val) in day" layout="row">
                            <p flex="50" class="schedule">{{key}}</p>

                            <p flex="50" class="schedule">
                                <span ng-if="val.times.status != 'closed' && val.times.status != 'open'">{{val.times.status}}</span>
                                <span ng-if="val.times.status == 'closed'">{{val.times.status}}</span>
                                <span ng-if="val.times.status == 'open'" ng-repeat="time in val.times.hours">{{time.from}} - {{time.to}}<br></span>
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </md-card-content>

        </md-card>

    </div>

</md-content>