<md-content flex="100" layout="row" layout-wrap>

    <div class="subheader-filter subheader-library" flex="100" layout="row">
        <h2>UQ Libraries</h2>
        <md-input-container class="search-library">
            <label>Search in libraries</label>
            <input name="libName" ng-model="vm.search"/>
        </md-input-container>
    </div>

    <div ng-repeat="lib in vm.libraries | filter:{'name':vm.search}" class="md-card-library" flex-xs="100" flex-gt-xs="50" flex-gt-lg="33" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" style="color: {{lib.color}}">
                        {{lib.name}}
                        <span class="md-subhead"> ({{lib.abbr}}) </span>
                    </span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <div><b>Departments:</b></div>
                <div ng-repeat="dep in lib.departments" layout="row" class="library-card-depertament" layout-no-wrap>
                    <div class="schedule" flex="100">
                        {{dep.name}}: Currently {{dep.times.currently_open ? 'Open' : 'Closed'}}
                    </div>
                </div>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="vm.openLibraryDetails(lib)">More Info</md-button>
            </md-card-actions>

        </md-card>
    </div>

</md-content>